---
layout: page
title: "About"
description: "Xinyu Shao (iiidiot)<br><br>A coder who cannot do painting and composing is not a good game designer"
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<div style="margin-top: 30px;">
<button class="btn btn-info" onclick="onLanChange(0)">中 文</button>
<button class="btn btn-warning" onclick="onLanChange(1)">English</button>
</div>

<!-- Chinese Version -->
<div class="zh">
    <p>我是<strong>邵新宇</strong>。 一名独立游戏作者，热爱<strong>游戏策划</strong>。</p>
    <p>我本科毕业于上海交通大学<strong>软件工程</strong>专业，十分熟悉<strong>C/C++, Unity/C#, Java</strong>等语言。 现在正在美国洛杉矶南加州大学（USC）攻读<strong>游戏开发</strong>硕士</p>
    <p>除了代码之外，我也懂<strong>绘画</strong>和<strong>编曲</strong>。我目前正在制作一款独立游戏——<strong>"ReLoad"</strong>, 所有工作都由我一人完成。</p>
    <p>我认为游戏的本质就是带给玩家快乐，但能让玩家玩的开心的游戏只能说是合格。真正的好游戏应该在快乐之外，给于玩家更深层次的一些东西，比如认知上的改变（人生观/价值观/对某类人群的看法等），或者帮助玩家认清自身，找到自己的梦想和意义，或者是给处于人生迷茫期的玩家一些点拨和勇气等等。</p>
    <p>我正在努力做出一款好游戏。</p>
    <p>如果想了解我的游戏和项目，可以浏览我的
        <a href="http://iiidiot.github.io/portfolio/">作品集</a>.
    </p>

    <p>联系方式：linkustarto # gmail DOT com <small><br>(我稍微改了一些符号以防爬虫和垃圾邮件，如果想联系我请将上面的邮箱改为标准的Email格式)</small></p>
</div>

<!-- English Version -->
<div class="en">
    <p>Hi, my name is <strong>Xinyu Shao</strong>. I love game and game design.</p>
    <p>I am an indie game designer pursuing MS in <strong>Computer Science (Game Development)</strong> with solid coding skills in <strong>C/C++, Unity/C#, Java, etc</strong>.</p>
    <p>In addition, I can also <strong>draw/paint</strong> and <strong>compose/arrange</strong> music. At present, I'm making 
    an indie game named <strong>ReLoad</strong> all by my own.</p>
    <p>I think the core of game is to make players happy. But a good game must give some deeper things to players besides happiness, such as changing a little bit of their outlook on life, values or any other things, helping them find out themselves, bring them courage and energy and so on.</p>
    <p>My undergradute college is Shanghai Jiao Tong University (SJTU). After graduation with a B.Eng in <i>Software Engineering</i> from SJTU, I'm now pursuing my MS degree in University of Southern California (USC), Los Angeles, CA, United States.</p>
    <p>I'm trying my best to make a good game.</p>
    <p>For more about my games and projects, please visit my 
        <a href="http://iiidiot.github.io/portfolio/">Portfolio</a>.
    </p>

    <p>Contact me：xinyusha # usc DOT edu <small><br>(I change the email format in case spam. Please change it to standard email format when you want to contact me)</small></p>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(1);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

{% if site.livere_uid %}
<!-- livere 评论框 start -->
<div class="comment">
    <div id="lv-container" data-id="city" data-uid="{{ site.livere_uid }}"></div>
</div>
<!-- livere 评论框 end -->

<!-- livere 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    (function(d, s) {
        var j, e = d.getElementsByTagName(s)[0];
        if (typeof LivereTower === 'function') { return; }
        j = d.createElement(s);
        j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
        j.async = true;
        e.parentNode.insertBefore(j, e);
    })(document, 'script');
</script>
<!-- livere 公共JS代码 end -->
{% endif %}
